.checkout-planInfo {
  &Headline {
    margin-top: 0;
    margin-bottom: var(--space-4);
    font-weight: 500;

    @include screen(lg) {
      margin-bottom: var(--space-5);
      font-size: 1.25rem;
    }
  }
}
