.ai {
  padding: 4rem 0 6rem;
  background-color: var(--color-black-2);

  &-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 3rem;
    background-image: url("/homepage/blur-circle-dark.png");
    background-position: 30% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    @include screen(lg) {
      flex-direction: row;
      background-position: unset;
      background-size: contain;
    }
  }

  &-content {
    text-align: center;

    @include screen(lg) {
      text-align: left;
    }
  }

  &-title {
    margin: 0;
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.1;

    @include screen(lg) {
      font-size: 3rem;
    }
  }

  &-description {
    margin-bottom: 2rem;
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;

    @include screen(lg) {
      font-size: 1.25rem;
    }
  }

  &-image {
    width: 100%;
    height: auto;

    @include screen(lg) {
      width: auto;
      height: 650px;
    }
  }
}
