.action {
  text-align: center;

  &-title {
    margin-top: 0;
    margin-bottom: var(--space-1);
    font-size: 1rem;
    font-weight: 600;

    @include screen(md) {
      font-size: 1.25rem;
    }
  }

  &-description {
    margin-top: 0;
    margin-bottom: var(--space-3);
    font-size: var(--text-xs);

    @include screen(md) {
      font-size: var(--text);
    }
  }
}
