:root {
  /* Colors */
  --bg: #f5f2f0;
  --color-white-2: #fff;
  --color-white: #f7f5f3;
  --bg-subtle: #f6f6f6;
  --border-neutral: #d1d1d1;
  --primary-color: #f26a4b;
  --primary-color-lighted: #f69781;
  --orange-color: #d94141;
  --orange-color-lighted: #fbd2c9;
  --orange-color-lighted-100: #fef0ed;
  --color-black: #22252b;
  --color-darker: #130101;
  --color-black-2: #191510;

  --color-success-high: #07946b;

  --foreground-principal: #262626;
  --foreground-secondary: #ed3a11;

  --background-contrast: #5e1808;
  --background-error: #fdf4f3;
  --background-success: #ecfdf5;

  --text-color-error: #d04232;

  --border-color-error: #ed3a11;

  /* Spacing */
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.5rem;
  --space-6: 2rem;
  --space-7: 2.5rem;
  --space-8: 3rem;
  --space-9: 4rem;
  --space-10: 5rem;

  /* Border radius */
  --border-radius-sm: 0.5rem;
  --border-radius-md: 0.75rem;
  --border-radius-lg: 1.5rem;

  /* Typography */
  --heading: 3rem;
  --text-xs: 0.813rem;
  --text: 1rem;

  /* Weights */
  --weight-base: 400;
  --weight-medium: 600;
}

@import "./reset.css";
@import "./utilities.css";
@import "./popover.css";
