:root {
  /* Colors */
  --bg: #f5f2f0;
  --color-white-2: #fff;
  --color-white: #f7f5f3;
  --primary-color: #f26a4b;
  --primary-color-lighted: #f69781;
  --orange-color: #d94141;
  --orange-color-lighted: #fbd2c9;
  --color-black: #22252b;
  --color-darker: #130101;
  --color-black-2: #191510;

  /* Spacing */
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.5rem;
  --space-6: 2rem;
  --space-7: 2.5rem;
  --space-8: 3rem;

  /* Typography */
  --heading: 3rem;
  --text: 1rem;
  --text-lg: 1.25rem;

  /* Weights */
  --weight-base: 400;
  --weight-medium: 600;

  /* Border */
  --border-radius-base: 0.75rem;

  --screen-xl: 1600px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container-box {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 var(--space-2);
}

.text-center {
  text-align: center;
}
