$breakpoint-xl: 1920px;
$breakpoint-lg: 1366px;
$breakpoint-md: 1024px;
$breakpoint-sm: 768px;
$breakpoint-xs: 360px;

@mixin screen($size) {
  @if $size == xs {
    @media screen and (min-width: $breakpoint-xs) {
      @content;
    }
  } @else if $size == sm {
    @media screen and (min-width: $breakpoint-sm) {
      @content;
    }
  } @else if $size == md {
    @media screen and (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $size == lg {
    @media screen and (min-width: $breakpoint-lg) {
      @content;
    }
  } @else if $size == xl {
    @media screen and (min-width: $breakpoint-xl) {
      @content;
    }
  }
}
