.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--space-5);
  margin-bottom: var(--space-8);

  &-logo {
    width: auto;
    height: 50px;

    @include screen(lg) {
      height: 60px;
    }
  }

  &-actions {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);

    @include screen(sm) {
      gap: var(--space-5);
      flex-direction: row;
    }
  }

  &-icon {
    fill: var(--orange-color-lighted-100);
  }
}
