.gohome {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
  color: var(--primary-color);
  text-decoration: none;
  font-size: var(--text-xs);
  font-weight: 600;
  line-height: 1;

  @include screen(md) {
    font-size: var(--text);
  }

  &-icon {
    fill: var(--primary-color);
  }
}
