.howItWorks {
  padding: 4rem 0;
  background-color: var(--color-black-2);
  background-image: url("/home/blur-circle-dark.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-white);

  @include screen(lg) {
    padding: 6rem 0;
  }

  &-title {
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: var(--primary-color);

    @include screen(lg) {
      font-size: 3rem;
    }
  }

  &-description {
    margin-top: 0;
    margin-bottom: 3rem;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;

    @include screen(lg) {
      margin-bottom: 4.5rem;
      font-size: 1.25rem;
    }
  }

  &-steps {
    display: grid;
    grid-auto-flow: row;

    @include screen(lg) {
      width: 90%;
      margin: 0 auto;
    }
  }

  &-step {
    display: flex;
    width: 100%;

    &:first-child {
      .howItWorks-step {
        &Number {
          background-color: var(--primary-color);
          color: var(--orange-color-lighted);
        }

        &Content {
          &::before {
            background-color: var(--primary-color);
          }
        }
      }
    }

    &Title {
      margin: 0;
      color: var(--primary-color);
      font-size: 1rem;

      @include screen(lg) {
        font-size: 2rem;
      }
    }

    &Description {
      margin: 0;
      font-size: 0.813rem;
      line-height: 1.8;

      @include screen(lg) {
        font-size: 1rem;
      }
    }

    &Content {
      padding: 0 0 3rem 4rem;
      position: relative;

      @include screen(lg) {
        max-width: 50%;
        padding: 0 4rem 2rem 4rem;
      }

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 2px;
        left: 2rem;
        background-color: var(--orange-color-lighted);

        @include screen(lg) {
          right: 0;
          left: unset;
        }
      }
    }

    &Heading {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      margin-bottom: 0.75rem;
    }

    &Badge {
      width: 20px;
      height: 20px;

      @include screen(lg) {
        width: 48px;
        height: 48px;
      }
    }

    &Number {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      text-align: center;
      left: 1rem;
      top: -0.25rem;
      border-radius: 50%;
      color: var(--primary-color);
      background-color: var(--orange-color-lighted);
      width: 32px;
      height: 32px;
      font-size: 1.25rem;
      font-weight: 600;

      @include screen(lg) {
        top: 0;
        right: -24px;
        left: unset;
        width: 48px;
        height: 48px;
        font-size: 1.5rem;
      }
    }
  }

  &-step:nth-child(2n) {
    @include screen(lg) {
      flex-direction: row-reverse;
    }

    .howItWorks-step {
      &Number {
        @include screen(lg) {
          left: -25px;
        }
      }
      &Content {
        &::before {
          @include screen(lg) {
            left: 0;
          }
        }
      }
    }
  }

  &-step:last-child {
    .howItWorks-step {
      &Content::before {
        display: none;
      }
    }
  }
}
