.hero {
  margin-top: 2rem;
  padding-bottom: 4rem;
  background-image: url("/homepage/graph.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;

  @include screen(lg) {
    margin-top: 4rem;
    padding-bottom: 8rem;
  }

  &-title {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1;

    @include screen(lg) {
      font-size: 4.75rem;
    }
  }

  &-description {
    margin: 0;
    margin-bottom: 1rem;
    color: var(--color-black);
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 400;

    @include screen(lg) {
      margin-bottom: 1.5rem;
      font-size: 1.25rem;
    }
  }

  &-cta {
    margin-bottom: 3rem;

    &Title {
      display: none;

      @include screen(lg) {
        display: block;
        color: var(--color-darker);
        font-size: 1.25rem;
        font-weight: 600;
      }
    }
  }

  &-image {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;

    @include screen(lg) {
      width: auto;
      height: 480px;
    }
  }
}
