.cta {
  padding: 8rem 0 5rem;
  background-image: url("/home/graph2.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;

  @include screen(lg) {
    padding: 20rem 0 8rem;
  }

  &-info {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  &-title {
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.1;

    @include screen(lg) {
      font-size: 3rem;
    }
  }

  &-description {
    margin-top: 0;
    margin-bottom: 2rem;
    line-height: 1.6;

    @include screen(lg) {
      font-size: 1.25rem;
    }
  }
}
