.benefits {
  margin: 0 var(--space-3);

  &--desktop {
    display: none;

    @include screen(sm) {
      display: block;
    }
  }

  &-title {
    margin-top: 0;
    margin-bottom: var(--space-3);
    font-weight: 500;

    @include screen(md) {
      font-size: 1.25rem;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &-item {
    font-size: var(--text-xs);

    @include screen(md) {
      font-size: var(--text);
    }
  }
}

div.benefits--mobile {
  @include screen(sm) {
    display: none;
  }
}
