.button {
  display: inline-flex;
  align-items: center;
  gap: var(--space-2);
  padding: var(--space-4) var(--space-5);
  border-radius: var(--border-radius-md);
  font-size: var(--text);
  font-weight: var(--weight-medium);
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &--primary {
    border: 0;
    background: linear-gradient(
      283.28deg,
      var(--primary-color) -130.94%,
      var(--orange-color) 230.94%
    );
    color: var(--orange-color-lighted-100);
  }

  &--secondary {
    border: 1px solid var(--primary-color);
    background-color: var(--orange-color-lighted-100);
    color: var(--primary-color);
  }

  &--small {
    padding: var(--space-3);
    font-size: var(--text-xs);
  }
}
