.button {
  display: inline-block;
  padding: var(--space-4) var(--space-5);
  border-radius: var(--border-radius-base);
  font-size: var(--text);
  font-weight: var(--weight-medium);
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &--primary {
    border: 0;
    background-color: var(--primary-color);
    color: #fef0ed;
  }

  &--secondary {
    background-color: var(--color-white);
    color: var(--primary-color);
  }

  &--small {
    padding: var(--space-3);
    font-size: var(--text-xs);
  }
}
