.checkout {
  margin-bottom: var(--space-8);

  &-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  #cardPaymentBrick_container {
    min-height: 636px;
  }
}
