.footer {
  padding: 4rem 0 3rem;
  background-color: var(--color-darker);

  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin: 0;
    margin-bottom: 4rem;
    padding: 0;

    &Link {
      color: var(--orange-color-lighted);
      font-size: 1.25rem;
      font-weight: 500;
      text-decoration: none;
    }
  }

  &-copyright {
    text-align: center;

    &Text {
      color: var(--color-white);
    }
  }
}
