.footer {
  padding: 3rem 0;
  background-color: var(--color-darker);

  @include screen(lg) {
    padding: 4rem 0 3rem;
  }

  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0;
    margin-bottom: 3rem;
    padding: 0;

    @include screen(lg) {
      flex-direction: row;
      gap: 4rem;
      margin-bottom: 4rem;
    }
  }

  &-link {
    color: var(--orange-color-lighted);
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
  }

  &-copyright {
    text-align: center;
  }

  &-text {
    color: var(--color-white);
  }
}
