.contact-us {
  display: flex;
  gap: var(--space-1);
  justify-content: center;
  font-size: 0.813rem;

  @include screen(sm) {
    font-size: 1rem;
  }

  &-link {
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: none;
  }
}
