.accordion {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  &-item {
    padding: 0.75rem 1rem;
    border: 1px solid var(--orange-color);
    border-radius: 0.75rem;
    background-color: var(--orange-color-lighted-100);

    @include screen(lg) {
      font-size: 1.25rem;
    }

    &[data-state="closed"] {
      padding: 0.75rem 1rem;

      @include screen(lg) {
        padding: 1.5rem 1rem;
      }
    }
  }

  &-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
    padding: 0;
    border: 0;
    background: none;
    color: var(--color-black);
    font-weight: 600;
    text-align: left;
    cursor: pointer;

    @include screen(lg) {
      font-size: 1.25rem;
    }

    &[data-state="open"] {
      .accordion-icon {
        transform: rotate(45deg);
      }
    }
  }

  &-icon {
    width: 20px;
    height: 20px;
    fill: var(--primary-color);

    @include screen(lg) {
      width: 26px;
      height: 26px;
    }
  }

  &-content {
    margin-top: 0.5rem;
  }
}
