.hero {
  margin: var(--space-5) 0;
  text-align: center;

  @include screen(sm) {
    margin-top: var(--space-7);
  }

  @include screen(lg) {
    margin-top: var(--space-9);
  }

  &-title {
    margin-top: 0;
    margin-bottom: var(--space-2);
    font-size: 2.6rem;
    line-height: 1.2;

    @include screen(lg) {
      font-size: 3.75rem;
    }
  }

  &-description {
    width: 90%;
    margin: 0 auto;
    line-height: 1.6;

    @include screen(sm) {
      width: 80%;
    }

    @include screen(lg) {
      font-size: 1.25rem;
    }
  }
}
