.cardsInfo {
  display: grid;
  gap: var(--space-6);
  margin-bottom: var(--space-9);

  @include screen(sm) {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 7.25rem;
  }

  @include screen(lg) {
    gap: var(--space-9);
    margin-bottom: 11.25rem;
  }
}
