.header {
  padding: 1rem 0;

  @include screen(lg) {
    padding: 1.5rem 0;
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-logo {
    width: auto;
    height: 45px;

    @include screen(md) {
      width: 226px;
      height: 60px;
    }
  }
}
